[Unit]
Description=Todo Backend Service

[Service]
User=ec2-user
Environment=MONGO=true
Environment=MONGO_URL="mongodb://172.31.13.180:27017/todo"
ExecStart=/usr/bin/node /home/ec2-user/todo/backend/server.js
SyslogIdentifier=todo-backend

[Install]
WantedBy=multi-user.target